@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: hsl(0, 0%, 100%);
  --color2: hsl(212, 45%, 89%);
  --color3: hsl(220, 15%, 55%);
  --color4: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--color2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.container {
  max-width: 300px;
  margin: 0 auto;
}
.card {
  background-color: var(--color1);
  padding: 12px;
  border-radius: 18px;
  text-align: center;
  margin: 0 0.5em;
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.text {
  padding: 20px 10px;
  font-size: 12px;
}
.text h2 {
  color: var(--color4);
  padding-bottom: 15px;
}
.text p {
  color: var(--color3);
}
